<section class="section">
  <div class="hero-body">
    <div class="container has-text-centered">
   <img class="img--logo" src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/58/NewYorkTimes.svg/1280px-NewYorkTimes.svg.png">
    </div>
  </div>
  <div class="content">
    <div class="columns">
      <div class="column is-half is-offset-one-quarter">
        <app-search-box></app-search-box>
      </div>
      <div class="column">
        <app-filter-box></app-filter-box>
      </div>
    </div>
  </div>
  <div class="content">
    <app-content-list></app-content-list>
  </div>
</section>
